@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

* {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: url(./images/background_jose_larrazolo.jpg);
    
    /* Photo by <a href="https://unsplash.com/@joseadd?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">JOSE LARRAZOLO</a> on <a href="https://unsplash.com/s/photos/lego?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
}

a {
    text-decoration: none;
    color: #eec50d;
}

/* Nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(0, 0, 0);
    color: #eec50d;
}


.right-links {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

/* intro section */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 10%;
    gap: 5%;
    /* background-color: peru; */
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.intro-text h2 {
    font-size: 65px;
} 

.intro-text p {
    margin-top: 5px;
    font-size: 25px;
    font-weight: 650;
}

.intro-text button {
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
    background-color: black;
    color: #eec50d;
}

.intro-image-container {
    display: flex;
    /* max-width: 50%; */
    max-height: auto;
}

/* founders */

.founders {
    display: flex;
    flex-direction: column;
    padding: 175px 10%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #eec50d;
}

.founders-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-size: 40px;
}

.founder-members {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 30px;
}

.founders-image-container {
    display: flex;
    width: 190px;
    height: 150px;
}

.founders h4 {
    padding: 10px 0px;
    margin-top: 15px;
    font-size: 30px;
}

.founder-members p {
    text-align: center;
    font-size: 20px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

/* quote */

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 175px 10%;
}

.quote-text {
    max-width: 70%;
    font-size: 50px;
    font-style: italic;
    font-weight: 900;
}

.right-side {
    float: right;
    font-size: 35px;
}

/* subscribe */

.subscribe {
    margin: 0px 25% 175px;
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    color: #eec50d;
    border-radius: 10px;
}

.subscribe button {
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eec50d;
}

/* footer */

footer {
    background-color: rgba(0, 0, 0);
    color: #eec50d;
    padding: 30px 10% 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}